<div id="main">
<h1>Photos</h1>
<p class="photo-info">
  width: 600px, height: 337px
<p>
<div id="photos">
  正在加载图片，请稍等... ...
</div>

<div class="block block_left">
  <h4>第一步：注册成为用户</h4>
    <p>
      您需要提供邮箱才能注册会员。只有成为会员，才可以使用本站提供的功能。
    </p>
</div>

<div class="block block_center">
  <h4>第一步：新建图片游戏</h4>
    <p>
      新建图片游戏后，系统会生成唯一的URL，并且有多种格式可供选择。
    </p>
</div>


<div class="block block_right">
  <h4>第一步：发布图片游戏</h4>
    <p>
      复制唯一地址，通过微博，博客等SNS工具发布您的最新作品。
    </p>
</div>


</div>
