<div id="main">
<h1>Photos</h1>
<p class="photo-info">
  width: 600px, height: 337px
<p>
<div id="photos">
  正在加载图片，请稍等... ...
</div>
</div>
  <script type="text/javascript">
    var img_urls = [];
    <%- 1.upto 19 do |i| -%>
      img_urls.push("<%="http://localhost:3000/photos/#{i}.bmp" %>");
    <%- end -%>
  </script>