<div id="main">
<h1>Photos</h1>
<p class="photo-info">
  width: 600px, height: 337px
<p>
<div id="photos">
  <ul>
  <% 1.upto 19 do |i| %>
    <li>
      <%=image_tag "/images/#{i}.bmp", :width => 600 %>
    </li>
  <% end %>
  </ul>
  
</div>
</div>
